{% extends "imagersite/base.html" %}
{% load static %}
{% load thumbnail %}

{% block content %}
<h2>Photos for this Album</h2>
<div class="container">
    <div class="row">
        {% for photo in photos %}
            {% thumbnail photo.imgfile "720x720" crop="center" as im %}
                <div class="card">
                    <a href="{% url 'photo_info' id=photo.id %}">
                        <img src="{{ im.url }}" width="150" height="150"/>
                    </a>
                    <p class="card-text">{{ photo.title }}</p>
                </div>
        {% endthumbnail %}
        {% endfor %}
    </div>
</div>
{% endblock%}