{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Django Imager</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'imagersite/base.css' %}">
</head>

<body>

    <div class="navbar">
    {% block header %}
    <a href="/">Home</a> |

    {% if user.is_authenticated %}
        Login: {{ user.username }}
        (<a href="{% url 'auth_logout' %}">Logout</a> |
        <a href="{% url 'auth_password_change' %}">Change password</a>)
    {% else %}
       <a href="{% url 'auth_login' %}">Log in</a> |
       <a href="{% url 'registration_register' %}">Register</a>
    {% endif %}
    {% endblock %}
    </div>
    <div id="content">
    {% block content %}{% endblock %}
    </div>

</body>

